/* LOGO */
#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

/* TILT MESSAGE */
#tilt-message {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

/* MEDIA QUERIES */
#main-container {
  display: initial;
}
#tilt {
  display: none;
}
@media screen and (max-width: 639px) and (orientation: portrait) {
  #main-container {
    display: none;
  }
  #tilt {
    display: block;
  }
}
