/* LOGO */
#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 100%;
  padding-top: 80px;
  padding-left: 10px;
  padding-right: 10px;
}

/* TILT MESSAGE */
#tilt-message {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
}

/* MEDIA QUERIES */
#main-container {
  display: initial;
}
#tilt {
  display: none;
}
#tilt-message {
  max-width: 100%;
  width: auto;
}
@media screen and (max-width: 639px) and (orientation: portrait) {
  #tilt {
    display: block;
    padding-top: 20px;
    padding-bottom: 280px;
  }
}
