header {
  /* height: 800px; */
  height: 100%;
  background-color: white;
  background-image: url(https://image.freepik.com/free-photo/white-crumpled-paper-texture-for-background_1373-159.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#attract {
  position: absolute;
  width: 140px;
  height: 50px;
  left: 50%;
  bottom: 0;
  margin-left: -70px;
  margin-bottom: 30px;
  padding-top: 10px;
  border: 1px solid white;
  color: white;
  background-color: black;
  font-family: fantasy;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.5s;
}
#attract:hover {
  background-color: darkgray;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.flex-container > img {
  margin: 10px;
}

article {
  padding: 20px;
}

.welcome {
  padding-bottom: 30px;
}

.how-to {
  color: white;
  background-color: darkblue;
}
.how-to h1 {
  padding-top: 50px;
}
.how-to h2 {
  margin-bottom: 0;
  font-family: monospace;
  text-align: center;
}
.how-to p {
  padding: 10px 20px 20px 20px;
  text-align: center;
  font-family: monospace;
  white-space: initial;
}
.engage hr {
  box-sizing: content-box;
  overflow: visible;
  height: 0;
  border: 1px solid white;
}

.engage {
  color: white;
}
.engage h1 {
  padding-top: 50px;
}
.engage h2 {
  font-family: monospace;
  text-align: center;
}
.engage p {
  padding: 10px;
  text-align: center;
  font-family: monospace;
  white-space: initial;
}
.engage img {
  width: 100%;
  height: 100%;
  padding-top: 20px;
}
.engage hr {
  box-sizing: content-box;
  overflow: visible;
  height: 0;
  border: 1px solid white;
}
.engage a {
  display: block;
  margin: 50px auto 20px auto;
  width: 100px;
  height: 50px;
  padding-top: 18px;
  color: white;
  background-color: black;
  border: 1px solid white;
  text-align: center;
  text-decoration: none;
  font-family: fantasy;
  transition-duration: 0.5s;
}
.engage a:hover {
  background-color: darkgray;
}

footer {
  width: 100%;
  bottom: 0;
  margin-top: 60px;
  background-color: darkblue;
  border: 3px solid white;
  border-radius: 5px;
}
footer .row {
  padding-top: 30px;
  padding-bottom: 30px;
}
footer h1 {
  margin-top: 20px;
  color: white;
  font-family: monospace;
  font-size: 20px;
  text-align: initial;
}
footer p {
  margin-bottom: 20px;
  padding: 5px;
  color: white;
  font-family: monospace;
  white-space: initial;
}
footer li {
  margin-left: 10px;
}
footer a {
  color: white;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
