nav {
  position: fixed;
  width: 100%;
  top: 0;
  height: 50px;
  background-color: darkblue;
  border: 3px solid white;
  border-radius: 5px;
  z-index: 1;
}
nav button {
  display: inline-block;
  margin-left: 5px;
  margin-top: 5px;
  padding-top: 5px;
  height: 30px;
  font-family: fantasy;
  color: white;
  background-color: black;
  font-weight: bold;
  transition-duration: 0.5s;
}
nav button:hover {
  background-color: darkgray;
}

/* HELP OVERLAY MODAL */
.overlay {
	display: block;
  position: absolute;
  overflow: auto;
  width: 100%;
  height: 100%;
	top: 0;
	left: 0;
	margin: 0;
	z-index: 1000;
	color: white;
  background: darkblue;
  border: 3px solid white;
  border-radius: 5px;
}
.modal {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}
.modal p {
  white-space: initial;
}
.modal #synopsis {
  text-align: center;
}
.modal img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  height: 240px;
}
