/* TEXT STYLE */
h1 {
  font-family: fantasy;
  text-align: center;
}
h2, p {
  color: #fff;
  margin: 7px;
  font-size: 15px;
  font-family: monospace;
  letter-spacing: .1em; /* Adjust as needed */
  white-space: nowrap; /* Keeps the content on a single line */
}

/* GAME CONTAINER DIMENSIONS */
.game-container {
  position: relative;
  margin: 0 auto;
  background: black;
  background-image: url(./images/locations/BLANK.png);
  width: 640px;
  height: 480px;
}

/* BACKGROUND IMAGE FOR GAME CONTAINER */
#ASTERA {
  background-image: url(./images/locations/ASTERA.jpg);
}
#TOWN {
  background-image: url(./images/locations/TOWN.jpg);
}
#FOREST {
  background-image: url(./images/locations/FOREST.jpg);
}
#MOUNTAIN {
  background-image: url(./images/locations/MOUNTAIN.jpg);
}
#DUNGEON {
  background-image: url(./images/locations/DUNGEON.jpg);
}

/* DISPLAY STYLES OF NPC/ENEMY SPRITES */
.sprite {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* MENU STYLE */
.menu {
  background: darkblue;
  border: 3px solid white;
  border-radius: 5px;
}

/* PLAYER STATUS DISPLAY */
.character-status {
  display: inline-block;
}
#summaryView {
  position: relative;
  width: 157px;
  height: 133px;
}
#fullView {
  position: absolute;
  width: 640px;
  height: 347px
}

/* SHOPPING WINDOW */
.shopping-window {
  position: absolute;
  width: 640px;
  height: 347px
}

/* EVENT LOG DISPLAY */
.event-log {
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 504px;
  height: 133px; /* ensures enough height for 5 lines of text */
}

/* COMMAND-LIST DISPLAY */
.command-list {
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 136px;
  height: 133px;
}
.menu button {
  display: block;
  height: 20px;
  border: none;
  color: #fff;
  background-color: darkblue;
  font-size: 15px;
  font-family: monospace;
  padding: 7px;
  letter-spacing: .1em; /* Adjust as needed */
}
.menu button:hover {
  text-decoration: underline;
}

/* ITEM LIST */
.item-list {
  display: inline-block;
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 150px;
  height: 135px;
}

/* SKILL LIST */
.skill-list {
  display: inline-block;
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 240px;
  height: 135px;
}
